### Sentiment Analysis the logistic regression
#### Accuracy - 0.71

In [12]:
import re
import pandas as pd
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [2]:
train_data = pd.read_csv("C:/path_for_train_data/dataset2.csv",skipinitialspace=True)
test_data = pd.read_csv("C:/path_for_test_data/dataset2_final_eval.csv",skipinitialspace=True)

#### Removed the nametags, hashtags, punctuations and smileys from the twitter feed for train and test files

In [3]:
train_data["text"] = train_data["text"].str.replace("(@[A-Za-z0-9]+)","")
train_data["text"] = train_data["text"].str.replace("(#[A-Za-z0-9]+)","")
train_data["text"] = train_data["text"].str.replace("[{}]".format(string.punctuation), '')
train_data["text"] = train_data["text"].str.strip()
train_data["text"] = train_data["text"].str.replace("[^\w\s#@/:%.,_-]", "", flags=re.UNICODE)
train_data = train_data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

test_data["text"] = test_data["text"].str.replace("(@[A-Za-z0-9]+)","")
test_data["text"] = test_data["text"].str.replace("(#[A-Za-z0-9]+)","")
test_data["text"] = test_data["text"].str.replace("[{}]".format(string.punctuation), '')
test_data["text"] = test_data["text"].str.strip()
test_data["text"] = test_data["text"].str.replace("[^\w\s#@/:%.,_-]", "", flags=re.UNICODE)
test_data = test_data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [4]:
train_data.head()

   id                                               text  sentiment
0   0                                    my hair is blue          1
1   1  im sweating my forthcoming trip to e3  if i ca...          0
2   2       im sorry i dont understand your last comment          0
3   3                           WEBSITE2018  my cupcakes          1
4   4  reading buyology before bedtime great premise ...          0

In [5]:
test_data.head()

   id                                               text
0   0              ahahahaha ghostbusters degree amazing
1   1      this poor lady has lost here dog  WEBSITE2018
2   2  ive never seen them quotin the fleshquot but i...
3   3  hey there donnie hope all is well if youre in ...
4   4  ive totally forgotten that i have a twitter a ...

#### Vectorization of training twitter feed data

In [8]:
cv = CountVectorizer(binary=True)
cv.fit(train_data["text"])
train_data["vector"] = cv.transform(train_data["text"])
X = cv.transform(train_data["text"]).toarray()

test_data["vector"] = cv.transform(test_data["text"])
X2 = cv.transform(test_data["text"]).toarray()

#### Logistic Regression

In [14]:
log_model = LogisticRegression()
log_model = log_model.fit(X = X, y = train_data["sentiment"])
y_pred = log_model.predict(X2)

In [15]:
new = pd.DataFrame(y_pred)
new["id"] = test_data["id"]
new.rename(columns = {0 : "label"}, inplace = True)
new = new[["id","label"]]

In [17]:
new.head()

   id  label
0   0      1
1   1      0
2   2      1
3   3      1
4   4      0